.control-label{
	display:block;
}
.form-group{
	display:block
}

.doc-preview-panel{
	background:#d1d1d1;
	height: 700px;
	position:relative;
	padding-top:25px;
}

.doc-preview-panel .paper{
	background:#fff;
	width:420px;
	height:594px;
	position:absolute;
	top:30px;
	left: calc(35% - 210px);
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	padding:20px;
}

.doc-preview-panel .option{
	width:30%;
	height:100%;
	top:0px;
	right:0px;
	position:absolute;
	background:#f1f1f1;
	padding:15px;
}

#generate-ok{
	display:none
}

#generate-ok .btn > i{
	float:left;
}

#print-template{
	width:794px;
	height:1000px;
	padding:15px;
}